body {
    background-color:#d4d5d7;;
}

#titulo{
      text-align: center;
}

input[type=text] {
    width: 300px;
    padding: 8px 12px;
    /* margin: 8px 0; */
    box-sizing: border-box;
  }

  #container-formulario{
      display: -webkit-inline-box;
      margin-right: 100px;
  }

  #container-geral{
      display: flex;
      justify-content: center;
  }

  .tg  {border-collapse:collapse;border-spacing:0;}
 .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
       overflow:hidden;padding:10px 5px;word-break:normal;}
 .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
       font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
 .tg .tg-c3ow{border-color:inherit;text-align:right;vertical-align:top}
 .tg .tg-0pky{border-color:inherit;text-align:right;vertical-align:top}
 .tg .tg-0lax{text-align:right;vertical-align:top}



